NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://localhost:27017/sunshine-paint
JWT_SECRET=819f54c9e54b315f673e8cd5cd00292f50d1645ee9fb605c4b7163259f9795582644103d53702f1ef165bf5abc09d7459f6897a472288990ae611a3d69f43ca5
JWT_EXPIRE=30d
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=nahomchatgpt@gmail.com
EMAIL_PASS=horxfqsfxvpvreqp
CLOUDINARY_CLOUD_NAME=dmm1vkn4s
CLOUDINARY_API_KEY=492689264339795
CLOUDINARY_API_SECRET=dTwkWV0oVfBHUEn-MiTOhU8DMlA
CLIENT_URL=http://localhost:5173
ADMIN_EMAIL=admin@sunshinepaint.com
ADMIN_PASSWORD=N0p@55w0rd!