# Server
NODE_ENV=production
PORT=5000

# Database - MongoDB Atlas
MONGO_URI=mongodb+srv://sunshineadmin:sunshineadmin123@cluster0.yyxrc7n.mongodb.net/sunshine-paint?retryWrites=true&w=majority&appName=Cluster0

# JWT
JWT_SECRET=819f54c9e54b315f673e8cd5cd00292f50d1645ee9fb605c4b7163259f9795582644103d53702f1ef165bf5abc09d7459f6897a472288990ae611a3d69f43ca5
JWT_EXPIRE=30d

# Email (Gmail SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=nahomchatgpt@gmail.com
EMAIL_PASS=horxfqsfxvpvreqp

# Cloudinary (Optional)
CLOUDINARY_CLOUD_NAME=dmm1vkn4s
CLOUDINARY_API_KEY=492689264339795
CLOUDINARY_API_SECRET=dTwkWV0oVfBHUEn-MiTOhU8DMlA

# Frontend URL (Vercel)
CLIENT_URL=https://sunshine-paint-construction.vercel.app

# Admin Credentials (For Initial Setup)
ADMIN_EMAIL=admin@sunshinepaint.com
ADMIN_PASSWORD=N0p@55w0rd!